extends ./layout/index 

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="",class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat ligula ac pretium auctor. Duis non vulputate tellus. Donec rhoncus elit eu mauris sollicitudin, eu molestie quam mattis. Aenean posuere venenatis tellus, a laoreet eros euismod pretium. Phasellus porta justo vitae mi condimentum sollicitudin. Aliquam vitae turpis diam. Sed et blandit magna. Phasellus viverra ut libero et ultrices. Mauris non sapien nibh. Suspendisse imperdiet massa sed viverra lacinia. Pellentesque nulla justo, rutrum at leo at, congue porttitor odio. Maecenas imperdiet tellus nec lectus interdum, ut aliquam elit accumsan. Etiam in ante felis. Aenean gravida ex sit amet erat pellentesque mattis.

                p Fusce vel mi vitae nibh ornare accumsan. Sed semper eros et ipsum dapibus, eu egestas dolor porta. Quisque vestibulum, mauris vitae sagittis consequat, risus nulla tincidunt mauris, sit amet lobortis libero mi vel velit. Ut et euismod quam. Duis tincidunt metus ac interdum mollis. Vivamus ut felis neque. Nulla facilisi. Etiam aliquet purus ut ligula accumsan iaculis. Proin nec pellentesque mi. Donec blandit euismod ante in rhoncus.

                p Fusce vel mi vitae nibh ornare accumsan. Sed semper eros et ipsum dapibus, eu egestas dolor porta. Quisque vestibulum, mauris vitae sagittis consequat, risus nulla tincidunt mauris, sit amet lobortis libero mi vel velit. Ut et euismod quam. Duis tincidunt metus ac interdum mollis. Vivamus ut felis neque. Nulla facilisi. Etiam aliquet purus ut ligula accumsan iaculis. Proin nec pellentesque mi. Donec blandit euismod ante in rhoncus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="",class="img-fluid")
                    h2.mb-4 Seguridad
                    p Etiam aliquet purus ut ligula accumsan iaculis. Proin nec pellentesque mi. Donec blandit euismod ante in rhoncus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="",class="img-fluid")
                    h2.mb-4 Destinos
                    p Etiam aliquet purus ut ligula accumsan iaculis. Proin nec pellentesque mi. Donec blandit euismod ante in rhoncus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="",class="img-fluid")
                    h2.mb-4 Precios
                    p Etiam aliquet purus ut ligula accumsan iaculis. Proin nec pellentesque mi. Donec blandit euismod ante in rhoncus.
